
# top-most EditorConfig file
root = true

# all files
[*]
indent_style = tab
indent_size = 4



# EditorConfig有助于为跨不同编辑器和ide从事同一项目的多个开发人员维护一致的编码风格。
# EditorConfig项目由用于定义编码样式的文件格式和一组文本编辑器插件组成
#      这些插件使编辑器能够读取文件格式并遵循已定义的样式。
# EditorConfig文件很容易阅读，并且可以很好地与版本控制系统配合使用。

# 总的来说， EditorConfig是一个编辑器配置之间的协议，通过定义一个配置文件来在不同的编辑器之间同步配置。
#   一些编辑器不需要额外的插件和工具就可以解析该配置，
#   一些编辑器需要下载额外的插件或工具来讲这个配置协议解析为该编辑器可用的编辑器配置文件。